*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url('./forest.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li{
    height: 50px;
}
nav li a{
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: center;
}
li a:hover{
    background-color: #f0f0f0;
}
nav li:first-child {
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 250px;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.525);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar li {
    width: 100%;
}
.sidebar li a{
    width: 100%;
}
.icon-end {
    justify-content: end;
}
@media screen and (max-width: 800px){
    .hideOnMobile { 
        display: none;
    }
}
@media screen and (min-width: 801px){
    .hideMenu{
        display: none;
    }
}